* {
    box-sizing: border-box;
    
}

.container-sm {
    position: relative;
}
.Conf-Bs-As {
    position: absolute;
    bottom: 80px;
    right: 16px;
    font-size: 18px;
    color: white;
    text-align: end;
    word-break: keep-all;
    max-width: 540px;
  }

  .boton-orador {
    border-color: white;
    background-color: rgba(245, 245, 245, 0);
    color: white;
}

.container {
    margin-top: 50px;
}

.boton-tickets {
    border-color: green;
    background-color: green;
    color: white;
}

.row-cards {
    padding-inline: 50px;
}

.card-text {
    font-size: small;
}

.estudiante {
    border-color: rgb(85, 85, 255);
}

.trainee {
    border-color: rgb(63, 168, 63);
}

.junior {
    border-color: rgb(255, 217, 0);
}

.footer {
    background-color: #315c79;
    text-align: center;
    font-size: 80%;
  }

